.sectionOneP2 {
  margin-top: 30px;
}

.sectionTwoP2 {
  margin-top: 30px;
}

.sectionThreeP2 {
  margin-top: 30px;
  background: #585858af;
}

.inputGroup {
  justify-self: center;
  align-self: center;
  border: 3px solid #707070;
  border-radius: 26px;
  padding: 5px 15px;
  height: 40px;
  background: #c8c8c8;
}

.buttonSearch {
  width: 34px;
  height: 25px;
  margin-top: -3px;
  margin-right: 0px;
  border: none;
  background: #c8c8c8;
}

.formControl {
  border: none;
  background: #c8c8c8 !important;
  color: #fff !important;
  width: 103px !important;
  height: 25px;
}

.backgroundImageTop {
  position: absolute !important;
  width: 100% !important;
  height: auto !important;
  pointer-events: none;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  user-select: none;
  z-index: -1;
}

@media only screen and (max-width: 480px) {
  .formControl {
    width: 132px !important;
  }
}
