html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Geo', 'Open Sans', sans-serif !important;
}

.container-fluid {
  margin-right: auto !important;
  margin-left: auto !important;
  max-width: 1680px; /* or 950px */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
